# python virtual environments
.venv/
__pycache__/

# data
data/

# wandb
wandb/

# model checkpoints
*.pth
experiments/

# hidden files
.DS_Store
.vscode/

#Extra Submissions (Testing)
submission_ood_part3_*